[project]
name = "python3-game"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "matplotlib>=3.10.8",
    "pygame>=2.6.1",
    "pynput>=1.8.1",
]
